fcos_accelerate/face_accelerate/

.theia/
.wsdata/
.lock
logs/
fcos_accelerate/.cache/
fcos_accelerate/.Xil/
fcos_accelerate/logs/
fcos_accelerate/compile_commands.json

.Xil/
.autopilot/
.crashReporter/
*.jou
*.log
*.wdb
*.pb3

*.o
*.d
*.a
*.so
*.pdi
*.xclbin

tree.txt
.DS_Store
Thumbs.db
